:root {
  --colorDetails:#EC3853;
  --bg-menu:#0b1523;
  --bg-color:#181f2a;
  --neuform-dark:#0b1523;
  --color-text:#a4a6a7;
  --colorIcon: white;
  --color1-neoformis: #0a0c11;
  --color2-neoforms:#263243;
  --main-title:#fff;
  --icon-svg:#fff;
  --borderBoton:#353232;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg-color);
  color: var(--color-text);
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
  font-family: 'Raleway', sans-serif;
}

html {
  font-size: 62.5%;
}

button {
  background: none;
  color: var(--colorIcon);
  outline: none;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

.change__color {
  opacity: 1;
  color: var(--colorDetails);
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.change__bg {
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
  background: var(--colorDetails);
}

.container {
  width: 90%;
  margin: auto;
  text-align: center;
}

.subtitle {
  text-align: center;
  width: 15rem;
  padding: 2rem;
  font-size: 2rem;
  margin: 3rem auto;
  border-radius: 2rem;
  background: var(--bg-color);
  -webkit-box-shadow: 5px 5px 10px var(--color1-neoformis), -5px -5px 10px var(--color2-neoforms);
          box-shadow: 5px 5px 10px var(--color1-neoformis), -5px -5px 10px var(--color2-neoforms);
}

.header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background: var(--bg-color);
  -webkit-box-shadow: 0px 5px 12px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 12px -6px rgba(0, 0, 0, 0.75);
}

.header .container__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7rem;
}

.header .header__logo {
  border: 2px solid var(--colorDetails);
  padding: 1.6rem;
  position: relative;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.header .header__logo h1 {
  position: absolute;
  top: 3px;
  left: 2px;
  right: 0;
  bottom: 0;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
}

.header .header__btn {
  text-align: center;
  padding: 0.8rem 1rem;
  border: none;
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  border-radius: 50px;
  background: var(--bg-color);
  -webkit-box-shadow: 5px 5px 10px var(--color1-neoformis), -5px -5px 10px var(--color2-neoforms);
          box-shadow: 5px 5px 10px var(--color1-neoformis), -5px -5px 10px var(--color2-neoforms);
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header .header__btn svg {
  padding-top: 2px;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header .header__btn svg path {
  fill: var(--icon-svg);
}

.header__btn {
  z-index: 3000;
}

.main {
  padding-top: 9rem;
  min-height: 100vh;
  width: 100%;
  margin: auto;
}

.main .container__img {
  margin: auto;
  width: 30rem;
}

.main .container__img img {
  width: 100%;
}

.main .container__title {
  text-align: center;
  margin: auto;
}

.main .container__title p {
  font-size: 1.8rem;
}

.main .main__title {
  color: var(--main-title);
  font-size: 3rem;
  margin: 1rem;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

@media (min-width: 760px) {
  .main .container {
    padding-top: 10rem;
  }
  .main .container .container__title p {
    font-size: 3rem;
  }
  .main .container .main__title {
    font-size: 5rem;
  }
}

@media (min-width: 800px) {
  .main .container__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .main .container__flex .container__img {
    margin: auto;
    width: 40rem;
  }
}

.about {
  text-align: center;
  margin: 2rem auto;
  min-height: 90vh;
}

.about .container__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10rem;
}

.about .container__flex .container__img {
  margin: auto;
  width: 30rem;
}

.about .container__flex .container__img img {
  width: 100%;
}

.about .container__flex .about__text {
  font-size: 2rem;
  padding: 2rem 0;
  line-height: 1.5;
}

@media (min-width: 800px) {
  .about .container__flex {
    margin: 5rem auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about .container__flex .container__img {
    margin: auto;
    width: 40rem;
  }
  .about .container__flex .about__text {
    width: 50rem;
    text-align: left;
    padding-left: 4rem;
  }
}

.about .dowloand {
  color: white;
  display: inline-block;
  margin: 0.5rem auto;
  padding: 2rem;
  border: none;
  border-radius: 2rem;
  font-size: 2rem;
  font-weight: 800;
  opacity: 1;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
  margin: 2rem auto;
  font-size: 1.7rem;
  font-family: 'Raleway', sans-serif;
}

.about .dowloand img {
  width: 2rem;
  height: 2rem;
}

.about .dowloand:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.skills .skills__grid {
  margin: 2rem auto 0;
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  grid-auto-rows: 20rem;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

@media (min-width: 1300px) {
  .skills .skills__grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.skills .skills__grid img {
  width: 10rem;
  height: 10rem;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.skills .skills__grid img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.skills .skills__grid p {
  padding: 1rem;
  font-weight: 800;
  font-size: 1.7rem;
}

@media (min-width: 800px) {
  .skills .skills__grid {
    padding: 10rem;
    grid-gap: 7rem;
  }
}

.contact .container__contact__intro .container__img {
  margin: auto;
  width: 30rem;
}

.contact .container__contact__intro .contac__text {
  margin: 4rem auto;
  font-size: 2rem;
  line-height: 1.5;
}

@media (min-width: 900px) {
  .contact .container__contact__intro .contac__text {
    padding: 0px 25rem;
  }
}

.contact .contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .contact__form input {
  width: 30rem;
  border: none;
  border-radius: 2rem;
  padding: 1.2rem;
  margin: 0.5rem auto;
  outline: none;
}

@media (max-width: 400px) {
  .contact .contact__form input {
    width: 95%;
  }
}

.contact .contact__form textarea {
  width: 30rem;
  border-radius: 2rem;
  padding: 1.2rem;
  margin: 0.5rem auto;
  outline: none;
  border: none;
}

@media (max-width: 400px) {
  .contact .contact__form textarea {
    width: 95%;
  }
}

.contact .contact__form button {
  width: 30rem;
  font-family: 'Raleway', sans-serif;
  margin: 0.5rem auto;
  padding: 2rem;
  border: none;
  border-radius: 2rem;
  font-size: 2rem;
  font-weight: 800;
}

@media (max-width: 400px) {
  .contact .contact__form button {
    width: 95%;
  }
}

@media (min-width: 900px) {
  .contact .container__contact {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .contact .container__contact .contact__form input {
    width: 40rem;
  }
  .contact .container__contact .contact__form textarea {
    width: 40rem;
  }
  .contact .container__contact .container__social--grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.container__social--grid {
  padding: 2rem;
  display: -ms-grid;
  display: grid;
  margin: 2rem auto;
  grid-gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (minmax(20rem, 30rem))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(20rem, 30rem));
}

.container__social--grid .card__social {
  width: 30rem;
  min-height: 11rem;
  margin: auto;
  display: -ms-grid;
  display: grid;
  text-align: left;
  -ms-grid-columns: 5rem 20rem;
      grid-template-columns: 5rem 20rem;
  border-bottom: solid 1px var(--borderBoton);
}

@media (max-width: 400px) {
  .container__social--grid .card__social {
    width: 95%;
  }
}

.container__social--grid .card__social .card__icon {
  font-size: 2rem;
  padding: 0 1rem;
}

.container__social--grid .card__social .card__title {
  font-size: 2rem;
}

.container__social--grid .card__social .card__item {
  font-size: 1.2rem;
  padding: 0.5rem;
}

.container__social--grid .card__social .container__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1rem;
}

.container__social--grid .card__social .container__icons p {
  margin: 1rem;
  border-radius: 50px;
  padding: 1rem 1.2rem;
  background: var(--bg-color);
  -webkit-box-shadow: 5px 5px 10px var(--color1-neoformis), -5px -5px 10px var(--color2-neoforms);
          box-shadow: 5px 5px 10px var(--color1-neoformis), -5px -5px 10px var(--color2-neoforms);
}

.container__social--grid .card__social .container__icons p a {
  font-size: 2.3rem;
  padding-right: 1px;
}

.footer {
  padding: 2rem;
}

.proyect {
  margin: 0 0 200px;
}

@-webkit-keyframes heartbeat {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  25% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes heartbeat {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  25% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.slider-container {
  position: relative;
  margin: 0 auto;
  width: 60%;
  height: 700px;
}

@media (max-width: 800px) {
  .slider-container {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .slider-container {
    width: 60%;
  }
}

@media (max-width: 360px) {
  .slider-container {
    width: 80%;
  }
}

.slider-container .bullet-container {
  position: absolute;
  bottom: -7rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-container .bullet-container .bullet {
  margin-right: 14px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--color-text);
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
  opacity: 0.5;
}

@media (max-width: 500px) {
  .slider-container .bullet-container .bullet {
    margin-right: 8px;
  }
}

.slider-container .bullet-container .bullet:last-child {
  margin-right: 0px;
}

@media (max-width: 450px) {
  .slider-container .bullet-container .bullet {
    height: 15px;
    width: 15px;
  }
}

.slider-container .bullet-container .bullet.active {
  opacity: 1;
}

.slider-container .slider-content {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 25%;
  height: 55%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 900px) {
  .slider-container .slider-content {
    width: 30%;
  }
}

@media (max-width: 500px) {
  .slider-container .slider-content {
    width: 85%;
  }
}

@media (max-width: 500px) {
  .slider-container .slider-content {
    width: 85%;
  }
}

.slider-container .slider-content .slider-single {
  position: absolute;
  z-index: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: z-index 0ms 250ms;
  transition: z-index 0ms 250ms;
}

.slider-container .slider-content .slider-single .slider-single-image {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
  -webkit-transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
  transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

@media (max-width: 800px) {
  .slider-container .slider-content .slider-single .slider-single-image {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .slider-container .slider-content .slider-single .slider-single-image {
    width: 90%;
  }
}

@media (max-width: 375px) {
  .slider-container .slider-content .slider-single .slider-single-image {
    width: 90%;
  }
}

.slider-container .slider-content .slider-single .slider-single-download {
  position: absolute;
  display: block;
  right: -22px;
  bottom: 12px;
  padding: 15px;
  color: #333333;
  background-color: #fdc84b;
  font-size: 18px;
  font-weight: 600;
  font-family: "karla";
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  -webkit-transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
  transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
  opacity: 0;
}

.slider-container .slider-content .slider-single .slider-single-download:hover, .slider-container .slider-content .slider-single .slider-single-download:focus {
  outline: none;
  text-decoration: none;
}

.slider-container .slider-content .slider-single .content__text-slider {
  padding: 0.5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--color-text);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  width: 400px;
  -webkit-transform: translateX(-27%);
          transform: translateX(-27%);
  margin: auto;
  position: relative;
}

@media (max-width: 800px) {
  .slider-container .slider-content .slider-single .content__text-slider {
    width: 300px;
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
}

@media (max-width: 500px) {
  .slider-container .slider-content .slider-single .content__text-slider {
    -webkit-transform: translateX(-17%);
            transform: translateX(-17%);
    width: 300px;
  }
}

@media (max-width: 370px) {
  .slider-container .slider-content .slider-single .content__text-slider {
    -webkit-transform: translateX(-12%);
            transform: translateX(-12%);
    width: 300px;
  }
}

.slider-container .slider-content .slider-single .content__text-slider p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.slider-container .slider-content .slider-single .slider-content-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-container .slider-content .slider-single .slider-content-btn .slider__buton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 140px;
  padding: 10px;
  color: var(--colorIcon);
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 1rem 1rem;
  border-radius: 1rem;
  background: var(--colorDetails);
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.slider-container .slider-content .slider-single .slider-content-btn .slider__buton .icon_proyect {
  width: 20px;
  margin: 0px 0.5rem;
}

.slider-container .slider-content .slider-single .slider-content-btn .slider__buton:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.slider-container .slider-content .slider-single .slider-content-btn .slider__buton::before {
  padding-right: 1rem;
}

@media (max-width: 700px) {
  .slider-container .slider-content .slider-single .slider-content-btn .slider__buton {
    padding: 1rem 0.5rem;
  }
}

.slider-container .slider-content .slider-single .slider-single-title {
  position: absolute;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  -webkit-transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
  transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
  opacity: 0;
}

.slider-container .slider-content .slider-single .slider-single-likes {
  display: block;
  width: 100%;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
  color: var(--color-text);
  -webkit-transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
  transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
  opacity: 0;
}

.slider-container .slider-content .slider-single .slider-single-likes i {
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  -webkit-transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
  transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
  -webkit-transform: scale(0);
          transform: scale(0);
}

.slider-container .slider-content .slider-single .slider-single-likes p {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.slider-container .slider-content .slider-single .slider-single-likes:hover, .slider-container .slider-content .slider-single .slider-single-likes:focus {
  outline: none;
  text-decoration: none;
}

.slider-container .slider-content .slider-single.preactivede .slider-single-image {
  -webkit-transform: translateX(-50%) scale(0);
          transform: translateX(-50%) scale(0);
}

.slider-container .slider-content .slider-single.preactive {
  z-index: 1;
}

.slider-container .slider-content .slider-single.preactive .slider-single-image {
  opacity: 0.3;
  -webkit-transform: translateX(-25%) scale(0.8);
          transform: translateX(-25%) scale(0.8);
}

.slider-container .slider-content .slider-single.preactive .slider-single-download {
  -webkit-transform: translateX(-150px);
          transform: translateX(-150px);
}

.slider-container .slider-content .slider-single.preactive .slider-single-title {
  -webkit-transform: translateX(-150px);
          transform: translateX(-150px);
}

.slider-container .slider-content .slider-single.preactive .slider-single-likes {
  -webkit-transform: translateX(-150px);
          transform: translateX(-150px);
}

.slider-container .slider-content .slider-single.proactive {
  z-index: 1;
}

.slider-container .slider-content .slider-single.proactive .slider-single-image {
  opacity: 0.3;
  -webkit-transform: translateX(25%) scale(0.8);
          transform: translateX(25%) scale(0.8);
}

.slider-container .slider-content .slider-single.proactive .slider-single-download {
  -webkit-transform: translateX(150px);
          transform: translateX(150px);
}

.slider-container .slider-content .slider-single.proactive .slider-single-title {
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
}

@media (max-width: 330px) {
  .slider-container .slider-content .slider-single.proactive .slider-single-title {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}

.slider-container .slider-content .slider-single.proactive .slider-single-likes {
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
}

@media (max-width: 330px) {
  .slider-container .slider-content .slider-single.proactive .slider-single-likes {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}

.slider-container .slider-content .slider-single.proactivede .slider-single-image {
  -webkit-transform: translateX(50%) scale(0);
          transform: translateX(50%) scale(0);
}

.slider-container .slider-content .slider-single.active {
  z-index: 2;
}

.slider-container .slider-content .slider-single.active .slider-single-image {
  opacity: 1;
  -webkit-transform: translateX(0%) scale(1);
          transform: translateX(0%) scale(1);
}

.slider-container .slider-content .slider-single.active .slider-single-download {
  opacity: 1;
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.slider-container .slider-content .slider-single.active .slider-single-title {
  opacity: 1;
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.slider-container .slider-content .slider-single.active .slider-single-likes {
  opacity: 1;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.slider-container .slider-content .slider-single.active .slider-single-likes i {
  -webkit-animation-name: heartbeat;
          animation-name: heartbeat;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slider-container .slider-left {
  position: absolute;
  z-index: 3;
  display: block;
  right: 85%;
  top: 50%;
  color: var(--color-text);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 20px 15px;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
  border: 2px solid var(--colorDetails);
  margin-right: -2px;
}

.slider-container .slider-right {
  position: absolute;
  z-index: 3;
  display: block;
  left: 85%;
  top: 50%;
  color: var(--color-text);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 20px 15px;
  border: 2px solid var(--colorDetails);
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
  margin-left: -2px;
}

.slider-container .not-visible {
  display: none !important;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--bg-menu);
  -webkit-clip-path: circle(10px at calc(100% - 85px) 35px);
          clip-path: circle(10px at calc(100% - 85px) 35px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 700px) {
  .menu {
    -webkit-clip-path: circle(10px at calc(100% - 45px) 35px);
            clip-path: circle(10px at calc(100% - 45px) 35px);
  }
}

.show {
  -webkit-clip-path: circle(75%);
          clip-path: circle(75%);
}

.menu a {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 3rem;
  z-index: 3000;
  font-size: 20px;
  margin: 2rem 0px;
  width: 20rem;
  top: 20%;
  font-weight: 700;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  border-radius: 10rem;
  background: var(--bg-color);
  -webkit-box-shadow: 5px 5px 10px var(--color1-neoformis), -5px -5px 10px var(--color2-neoforms);
          box-shadow: 5px 5px 10px var(--color1-neoformis), -5px -5px 10px var(--color2-neoforms);
  background: var(--bg-menu);
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
  opacity: 1;
}

.menu a:hover {
  color: var(--colorIcon);
  border-radius: 61px;
  -webkit-box-shadow: inset 5px 5px 10px var(--color1-neoformis), inset -5px -5px 10px var(--color2-neoforms);
          box-shadow: inset 5px 5px 10px var(--color1-neoformis), inset -5px -5px 10px var(--color2-neoforms);
  background: var(--bg-menu);
}

.fa-chevron-down {
  padding: 2rem;
  font-size: 4rem;
  -webkit-animation: nextScroll 2s ease-in infinite;
          animation: nextScroll 2s ease-in infinite;
}

@-webkit-keyframes nextScroll {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
  }
}

@keyframes nextScroll {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
  }
}

.upTop {
  background: var(--colorDetails);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  position: fixed;
  text-align: center;
  right: 4rem;
  bottom: 4rem;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 1;
}

.upTop a {
  width: 3rem;
  padding-bottom: 0.6rem;
}

.upTop a img {
  width: 100%;
}

.hidden {
  opacity: 0;
}

.upTop a {
  font-size: 3rem;
  margin-top: 1rem;
  display: block;
  margin-right: 2px;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
  color: var(--colorIcon);
}

.rotate__animation {
  width: 1rem;
  height: 1rem;
  background: var(--colorDetails);
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-animation: rotate-center ease 3s infinite;
          animation: rotate-center ease 3s infinite;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (max-width: 700px) {
  .rotate__animation {
    left: 70%;
  }
}

.two {
  top: 40%;
  left: 20%;
  background: var(--color-text);
}

.three {
  top: 30%;
  left: 30%;
  background: var(--color-text);
}

@media (max-width: 700px) {
  .three {
    left: 10%;
  }
}

.btn__config {
  position: fixed;
  z-index: 100;
  cursor: pointer;
  top: 20%;
  right: 20px;
  width: 5rem;
  height: 5rem;
  border-radius: 95px;
  background: var(--bg-color);
  -webkit-box-shadow: 5px 5px 10px var(--color1-neoformis), -5px -5px 10px var(--color2-neoforms);
          box-shadow: 5px 5px 10px var(--color1-neoformis), -5px -5px 10px var(--color2-neoforms);
}

.fa-cog {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 3rem;
  -webkit-animation: rotate-center ease 2s infinite;
          animation: rotate-center ease 2s infinite;
}

.theme {
  top: 30%;
}

#iconTheme {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 3rem;
  opacity: 1;
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

.container__moon {
  position: absolute;
  width: 25%;
  opacity: 1;
  -webkit-animation: moveMoonDark ease 2s forwards;
          animation: moveMoonDark ease 2s forwards;
}

.container__moon img {
  -webkit-animation: rotate-center ease 200s infinite;
          animation: rotate-center ease 200s infinite;
  width: 100%;
}

@media (max-width: 700px) {
  .container__moon {
    width: 30%;
    top: 20px;
  }
}

@media (max-width: 500px) {
  .container__moon {
    width: 40%;
    top: 20px;
  }
}

@media (max-width: 400px) {
  .container__moon {
    width: 50%;
    top: 20px;
  }
}

.moveMoonLigth {
  -webkit-animation: move-moonligth ease 1s forwards;
          animation: move-moonligth ease 1s forwards;
}

.moveMoonDark {
  -webkit-animation: move-moonDark ease 1s forwards;
          animation: move-moonDark ease 1s forwards;
}

@-webkit-keyframes move-moonligth {
  0% {
    top: -50px;
    left: -5%;
  }
  100% {
    top: 200px;
    left: -50%;
    opacity: 0;
  }
}

@keyframes move-moonligth {
  0% {
    top: -50px;
    left: -5%;
  }
  100% {
    top: 200px;
    left: -50%;
    opacity: 0;
  }
}

@-webkit-keyframes moveMoonDark {
  0% {
    top: 500px;
    left: 50%;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: -50px;
    left: -5%;
  }
}

@keyframes moveMoonDark {
  0% {
    top: 500px;
    left: 50%;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: -50px;
    left: -5%;
  }
}

.themeDetails {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2.5rem;
  z-index: 100;
  overflow: hidden;
  top: 20.5%;
  right: 26px;
  z-index: 4;
  height: 4.5rem;
  width: 2rem;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
  background: var(--bg-color);
  -webkit-box-shadow: 5px 5px 10px var(--color1-neoformis), -5px -5px 10px var(--color2-neoforms);
          box-shadow: 5px 5px 10px var(--color1-neoformis), -5px -5px 10px var(--color2-neoforms);
}

.themeDetails li {
  list-style: none;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.themeDetails :nth-child(1) {
  background: #FFB400;
}

.themeDetails :nth-child(2) {
  background: #1FC586;
}

.themeDetails :nth-child(3) {
  background: #EC3853;
}

.themeDetails :nth-child(4) {
  background: #8E60E9;
}

.themeDetails :nth-child(5) {
  background: #2196F3;
  margin-right: 4rem;
}

.showDetails {
  width: 26rem;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-9-5 19:51:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*# sourceMappingURL=main.css.map */